h1 {background-color: rgb(252, 14, 14); text-align: center }
h2 {background-color: blue; text-align: left}
h3 {background-color: chartreuse; text-align: right}
img {display: block; margin-left: auto; margin-right: auto }
